<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moveapps.asistenciaeclass" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Clases"
            android:label="@string/title_activity_clases"
            android:launchMode="singleTop"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name=".Alumnos"
            android:label="@string/title_activity_alumnos"
            android:launchMode="singleTop"
            android:parentActivityName=".Clases"
            android:theme="@style/CustomActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moveapps.asistenciaeclass.Clases" />
        </activity>
        <activity
            android:name=".FirmaAlumno"
            android:label="@string/title_activity_firma_alumno"
            android:parentActivityName=".Alumnos"
            android:theme="@style/CustomActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moveapps.asistenciaeclass.Alumnos" />
        </activity>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="7f21ad1a386755e477341f0887fcfe68fd27f813"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
